body {
  font-size: 18px;
}
.company {
  background-color: black;
  color: white;
}
.container {
  max-width: 960px;
  margin: 0px auto;

}
.company img {
  height: 1.5rem;
  padding-right: 0.8333rem;
}
body {
  font-family: Helvetica;
}
.company .container {
  Display: flex;
  align-items: center;
  padding: 0.66rem 0px 0.66rem 0.5rem;
}

/* banner */

.mainbanner {
  background-image: url("../images/moto.jpeg");
 height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.headline {
  background-color: black;
  color: white;
  width: 20rem;
  position: relative;
  top: 9rem;
  padding: 2rem 5rem 2rem 3rem;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
h4 {
  font-weight: bold;
  font-size: 1rem;
}
